{% extends "base.html" %}
{% block content %}

<h2 class="mb-4">Panel General</h2>

<div class="row g-4">

<div class="col-md-3">
<div class="card text-center">
<h6>Productos</h6>
<h2>{{ productos }}</h2>
</div>
</div>

<div class="col-md-3">
<div class="card text-center">
<h6>Clientes</h6>
<h2>{{ clientes }}</h2>
</div>
</div>

<div class="col-md-3">
<div class="card text-center">
<h6>Ventas Totales</h6>
<h2>${{ ventas }}</h2>
</div>
</div>

<div class="col-md-3">
<div class="card text-center">
<h6>Stock Bajo</h6>
<h2 class="text-danger">{{ stock_bajo }}</h2>
</div>
</div>

</div>

{% endblock %}
