{% extends "base.html" %}
{% block content %}

<h2 class="mb-4">Panel General</h2>

<div class="row">

<div class="col-md-3">
<div class="card card-stat p-3">
<h6>Productos</h6>
<h3>{{ productos }}</h3>
</div>
</div>

<div class="col-md-3">
<div class="card card-stat p-3">
<h6>Clientes</h6>
<h3>{{ clientes }}</h3>
</div>
</div>

<div class="col-md-3">
<div class="card card-stat p-3">
<h6>Ventas Totales</h6>
<h3>${{ ventas }}</h3>
</div>
</div>

<div class="col-md-3">
<div class="card card-stat p-3">
<h6>Stock Bajo</h6>
<h3>{{ stock_bajo }}</h3>
</div>
</div>

</div>

{% endblock %}
